@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.profile-img {
    width: 32px;
    height: 32px;
}

.tweet-img {
    width: 680px;
    height: 383px;
}

.font-25 {
    font-size: 25px;
}

.position-sticky {
    position: sticky!important;
}

.cursor-pointer {
    cursor: pointer;
}
